body{
    background-image: url(./assets/waiter.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
  }